h1{
    text-align: center;
    color: blue;
}
h6,h5,.text{
    text-align:center;
}
.line{
    text-align:center;

}
.row{
    display:flex
}
.column{
    flex:50%;
    padding:10px;
    height:500px;
    vertical-align:middle;
}
#inputBox{
    height:390px;
    width:400px;
    padding:5px;
    border-color: black;
    border-width: 1px;

}
#daSauce{
    text-align:center;
    white-space:pre;
    
}